@import "parts/fonts";
@import "parts/visually-hidden";
@import "parts/variables";

@import "parts/cust-title";
@import "parts/cust-subtitle";
@import "parts/cust-tabs";
@import "parts/cust-accordion";
@import "parts/cust-promo";
@import "parts/cust-form-area";
@import "parts/cust-num-field";


@import "parts/cust-main";
@import "parts/cust-content";
@import "parts/cust-constructor";

@import "parts/options-group";




.main-header {
  position: relative;
}

.cust-tabs__content.active {
  display: block;
}



.custom-buttom {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background: var(--col6);
  border: 1px solid;
  border-color: var(--col6);
  border-radius: 20px;
  color: var(--col3);
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.1s;

  svg {
    display: block;

    circle {
      fill: var(--col4);
    }

    path {
      stroke: var(--col6);
    }
  }

  &:hover,
  &:focus {
    background: var(--col1);
    border: 1px solid;
    border-color: var(--col1);

    svg {
      display: block;

      path {
        stroke: var(--col1);
      }
    }
  }

}

.custom-buttom--top-mg {
  margin-top: 22px;
}



.cust-tabs__button {
  @media (max-width:550px) {
    font-size: 16px;
    padding: 15px;
    height: auto;
  }
}

.cust-content__title--mod {
  &::after {
    width: 30%;
  }
}


.cust-details {
  display: flex;
  margin-top: 17px;
  gap: 30px;
  margin-bottom: 45px;
}

.cust-details__list {
  width: calc(50% - 15px);

  li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--col2);
    margin-bottom: 20px;

    strong {
      font-weight: 700;
      color: #1C202E;
    }
  }
}

.container--mod {
  max-width: 970px;
  margin: 0 auto;
}

.cust-content__title--clear {
  &::after {
    display: none;
  }
}

.cust-details svg {
  display: block;
  margin-right: 6px;
}

.cust-details--mod li {
  display: flex;
  align-items: center;
  gap: 10px;

  strong {
    font-size: 30px;
  }
}

.cust-content__title--min {
  font-size: 35px;
}

.cust-content__title {
  margin-bottom: 27px;
}

.form-options {

  .cust-details {
    margin: 0;
    padding-bottom: 55px;
    margin-bottom: 0;
    border-bottom: 1px solid #E5E5E7;
  }

}

.tarif-price {
  padding: 60px 0;

  .cust-details {
    margin: 0;
  }
}

.personal-form {
  padding: 50px 0 55px;
  background-color: #F4F4F5;
  color: #1C202E;
}

.personal-form__input {
  background: #ffffff;
  border: 1px solid #FF5252;
  border-radius: 20px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #737373;
  padding: 13px 25px;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px #FF5252;
  }
}

.cust-grid-two {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

  .cust-grid-col {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 30px;

    input {
      width: 100%;
    }
  }
}

.personal-form__footer {
  margin: 0 auto;
  max-width: max-content;

  a {
    color: #FF5252;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
  }
}

.personal-form__form {
  margin-bottom: 30px;
}

@media (max-width:500px) {

  .cust-content__title {
    font-size: 25px;
  }

  .cust-details {
    flex-wrap: wrap;
    gap: 0;
  }

  .cust-details__list {
    width: 100%;
  }

  .personal-form__form {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

  .cust-grid-two .cust-grid-col {
    width: 100%;
  }

}

.cust-crumbs {
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 15px;
}

.cust-crumbs__list-item {

  display: flex;
  gap: 10px;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FF5252;

  svg {
    display: block;
  }

  a {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
  }
}

.cust-content--mod {
  padding-bottom: 5px;
  border-bottom: 1px solid #E5E5E7;
}

@media (max-width: 760px) {
  .tarif-price {
    .cust-details {
      flex-wrap: wrap;
      flex-direction: column;
      gap: 0;
    }
  }

  .cust-details__list {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .cust-details--mod li {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
