.cust-form-area {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--col2);
  // display: flex;
  // align-items: center;
  margin-bottom: 15px !important;


  label {
    position: relative;
    padding-left: 40px;
    line-height: 1.8;
    display: block;
    font-family: var(--ff3);
    font-size: 16px;

    strong {
      color: var(--col5);
      font-weight: 700;

    }
  }

  input[type=checkbox]+label::before,
  input[type=radio]+label::before {
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    background-repeat: no-repeat;
  }

  input[type=checkbox]+label::before {
    background-image: url(../img/icons/checkbox-off.svg);
  }

  input[type=checkbox]:checked+label::before {
    width: 21px;
    background-image: url(../img/icons/checkbox-on.svg);
  }

  input[type=checkbox]+label:hover:before {
    background-image: url(../img/icons/checkbox-off-hover.svg);
  }

  input[type=checkbox]:checked+label::before {
    background-image: url(../img/icons/checkbox-on.svg);
  }

  input[type=radio]+label::before {
    background-image: url(../img/icons/radio-off.svg);
  }

  input[type=radio]:checked+label::before {
    width: 21px;
    background-image: url(../img/icons/radio-on.svg);
  }

  input[type=radio]+label:hover:before {
    background-image: url(../img/icons/radio-off-hover.svg);
  }

  input[type=radio]:checked+label::before {
    background-image: url(../img/icons/radio-on.svg);
  }
}

.cust-form-area {
  span {
    max-width: 460px;
    width: 100%;
    font-size: 18px;
    line-height: 1;
    font-family: HelveticaRegular, sans-serif;
  }

  b {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    color: #1C202E;
  }
}

.cust-form-area input[type=radio]:checked+label b,
.cust-form-area input[type=checkbox]:checked+label b {
  color: #ffffff;
}
