.cust-subtitle {
  font-family: var(--ff3);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--col2);
  display: block;
  margin: 0 auto;
}
