.options-group {
  border-bottom: 1px solid #E5E5E7;
  padding: 34px 0 11px;

  &:first-of-type {
    padding-top: 0;
  }
}

.options-group__wrap {
  border: none;
  padding: 0;
  margin-bottom: 27px;

  .cust-form-area {
    margin-bottom: 6px;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      padding: 2px 30px 1px;
      padding-left: 70px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s;
      max-width: 1030px;
      margin: 0 auto;
    }

    input[type=radio]+label::before,
    input[type=checkbox]+label::before {
      top: auto;
      left: 30px;
    }

    input[type=radio]:checked,
    input[type=checkbox]:checked {
      &+label {
        background-color: #3984E9;
        color: #ffffff;
      }
    }

    label:hover {
      background-color: #E9EAEC;
    }
  }

}

.options-group__title {
  font-family: var(--ff3);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--col7);
  margin-bottom: 10px;
  // margin-left: -15px;
}

.options-group__label {
  cursor: pointer;
  font-family: var(--ff3);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--col7);
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: -16px;
    width: 35px;
    height: 20px;
    background-repeat: no-repeat;
    background: #FF5252;
    border-radius: 10px;
    transition-duration: 300ms;
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border-radius: 50%;
    left: -13px;
    transition-duration: 300ms;
  }
}

.options-group__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.8s cubic-bezier(0, 1, 0, 1);
}

.options-group__switsh:checked {
  &+.options-group__label::after {
    left: 2px;
  }

  &~.options-group__body {
    max-height: 10000px;
    transition: max-height 0.5s, opacity 0.1s cubic-bezier(1, 0, 1, 0);
    overflow: initial;
  }

  &~.options-group__title {
    transform: translate(-15px, 0);
    position: relative;
  }
}

.options-group__label:hover,
.options-group__label:focus {
  &::before {
    background: #0765E3;
  }
}
