:root {
  --ff1: 'Alegreya Sans', sans-serif;
  --ff2: 'Inter', sans-serif;
  --ff3: 'SF Pro Display', sans-serif;
  --ff4: 'Helvetica', sans-serif;
  --col1: #FF5252;
  --col2: #737373;
  --col3: #ffffff;
  --col4: #E5E5E7;
  --col5: #1C202E;
  --col6: #0765E3;
  --col7: #1C202E;
  --col7: #715962;
}
